<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="main.js"></script>
</head>

<body align="center" ng-app="myApp" ng-controller="myCtrl">


<button>add</button>
<button>view</button>



<div>
    <br />
    <input type="text" placeholder="name"   ng-model="new.name" /><br />
    <input type="text" placeholder="age"    ng-model="new.age" /><br />
    <input type="email" placeholder="email" ng-model="new.email" /><br />
    <button>submit</button>
    <button>clear form</button>
</div>


<div>
    <br />
    <table border="1px solid black" align="center" width="500px">
        <tr>
            <th>S#</th><th>Name</th><th>Age</th><th>Email</th><th>Action</th>
        </tr>
        <tr>
            <td>S#</td><td ng-bind="store[0].new.name">Name</td><td ng-bind="new.age">Age</td><td ng-bind="new.email">Email</td><td>Action</td>
        </tr>


    </table>

</div>


</body>
</html>