<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="main.js"></script>
</head>

<body align="center" ng-app="myApp" ng-controller="myCtrl">

<button ng-click="addtab()">add</button>
<button ng-click="viewtab()">view</button>



<div ng-show="showform">

    <br />
    <input type="text" placeholder="name"   ng-model="new.name" /><br />
    <input type="number" placeholder="age"    ng-model="new.age" /><br />
    <input type="email" placeholder="email" ng-model="new.email" /><br />

    <button ng-show="updatebtn" ng-click="updateentry()">update</button>

    <button ng-show="submitbtn" ng-click="addentry()">submit</button>

    <button ng-click="clearform()">clear form</button>

</div>


<div ng-show="showentry">
    <br />
    <table border="1px solid black" align="center" width="500px">
        <tr>
            <th>S#</th><th>Name</th><th>Age</th><th>Email</th><th>Action</th>
        </tr>

        <tr ng-repeat="d in store">

            <td ng-bind="$index + 1">S#</td>
            <td ng-bind="d.name"></td>
            <td ng-bind="d.age">Age</td>
            <td ng-bind="d.email">Email</td>
            <td>
                <button ng-click="editentry($index)">eidt</button>
            </td>
        </tr>


    </table>

</div>


</body>
</html>
